.popup-menu {
  height: 100vh;
  background: var(--grey-900);
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 25px 25px;
  display: flex;
  flex-direction: column;

  &__elements {
    margin: 58px 0 0;
  }

  &__elem {
    display: flex;
    align-items: center;
    margin: 0 0 27px;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    .icon {
      &:hover {
        opacity: 1;
      }
    }

    &:last-child {
      margin: 0;
    }
  }

  &__text {
    margin: 0 0 0 10px;
    text-transform: capitalize;
    color: var(--primary-light);
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  &__logout {
    display: flex;
    align-items: center;
    margin: auto 0 0;
  }

  &__inscription {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.005em;
    text-transform: capitalize;
    margin: 0 0 0 10px;
    color: var(--primary-light);
  }
}