.ui-kit {
  background: var(--grey-900);
  padding: 10px;
}

.ui-kit-btns {
  display: flex;
  margin: 20px;

  &__btn {
    max-width: 400px;
    width: 100%;
    margin-right: 10px;
  }
}

.ui-kit-inputs {
  display: flex;
  margin: 20px;

  &__input {
    max-width: 400px;
    width: 100%;
    margin-right: 10px;
  }
}