.ui-kit {
  background: var(--grey-2);
  //padding: 10px;
}

.ui-kit-page {
  display: flex;
}

.ui-kit-container {
  width: 100%;
  padding: 0 30px 0;
}

.ui-kit-icons {
  display: flex;
  &__icon {
    margin: 5px;
  }
}

.ui-kit-like {

}

.ui-kit-icons-date-time {
  display: flex;
  flex-wrap: wrap;
  &__elem {
    max-width: 260px;
    width: 100%;
    min-height: 137px;
    margin: 10px;
  }
}


.ui-kit-comments {
  &__comment {
    max-width: 410px; // поставить для контейнера
    min-height: 210px; // на странице
  }
}
.ui-kit-btns {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;

  &__btn {
    max-width: 400px;
    width: 100%;
    margin-right: 10px;
  }
}

.ui-kit-inputs {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;

  &__input {
    max-width: 400px;
    width: 100%;
    margin-right: 10px;
  }
}

@media (max-width: 800px) {
  .ui-kit-icons-date-time {
    flex-direction: column;
    background: var(--back-dark);
    max-width: 260px;
    border-radius: 16px;

    &__elem {
      min-height: 100px;
      margin: 0;

      &:first-child {
        //border: 1px solid red;
        margin-bottom: -15px;
      }
    }
  }
}


.circle1 {

}

.circle2 {
  display: none;
  //stroke-dasharray: 564px;
  //stroke-dashoffset: 450px;
  //transform: rotate(-90deg) translateX(-200px);
}

.svg {
  circle {
    border-radius: 50px;
  }
}