.card {
  display: flex;
  min-height: 800px;

  &__slider {
    max-width: 710px;
    width: 100%;
    position: relative;

    &:hover {
      .card-slider {
        opacity: 1;
      }
    }
  }
}

.card-slider {
  &__back {
    display: none;
  }
  &__slide {
    height: 100%;
  }
}


.card-slider {
  transition: opacity 0.5s ease-out;
  display: flex;
  opacity: 0;
  height: 800px;
  width: 100%;
  position: absolute;
  top: 0;

  .swiper {
    margin: 0 auto;
    max-width: 606px;
    height: 100%;

    .swiper-pagination {
      position: absolute;
      bottom: 30px;
      display: flex;
      align-items: center;
      max-width: 250px;
      width: 100%;

      .swiper-pagination-bullet {
        background: var(--blue);
        opacity: 1;
        left: 0;
      }

      .swiper-pagination-bullet-active {
        width: 20px;
        height: 20px;
        opacity: 1;
      }

      .swiper-pagination-bullet-active-next,
      .swiper-pagination-bullet-active-prev {
        width: 23px;
        height: 23px;
      }

      .swiper-pagination-bullet-active-next-next,
      .swiper-pagination-bullet-active-prev-prev{
        width: 30px;
        height: 30px;
      }
    }
  }

  .card-navigation {
    position: absolute;
    z-index: 5;
    top: 48%;
    cursor: pointer;
    width: auto;
    height: auto;

    &_prev {
      transform: rotate(360deg);
    }

    &_next {
      right: 2px;
      transform: rotate(180deg);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}


.card-navigation {
  width: 30px;
  height: 30px;
}

.card-info {
  margin: 0 0 0 40px;
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    flex-wrap: wrap;
  }

  &__nick {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 108%;
    color: var(--blue);
    margin: 0;
  }

  &__location {
    margin: 0 14px;
  }

  &__country {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 108%;
    color: var(--primary-light);
    margin: 0;
  }

  &__breed {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__name {
    margin: 0;
    color: var(--light-gray);
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
  }

  &__point {
    margin: 0 7px;
    width: 6px;
    height: 6px;
    background: var(--grey-1);
    border-radius: 50px;
  }

  &__animal {
    margin: 0;
    color: var(--light-gray);
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
  }


  &__like {
    display: flex;
    margin: 20px 0 30px;
    flex-wrap: wrap;

    .like {
      flex-direction: row-reverse;

      &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 108.1%;
        margin: 0 0 0 11px;
      }

      &__img {
        svg {
          width: 25px;
          height: 24px;
        }
      }
    }
  }

  &__price {
    display: flex;
    align-items: center;
    margin: 0 0 0 50px;
  }

  &__icon {
    margin-right: 10px;
  }
  &__coll {
    font-weight: 500;
    font-size: 32px;
    line-height: 108.1%;
    color: var(--primary-light);
    margin: 0;
  }
}


.card-params {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px;
  padding: 30px 0 0;
  border-top: 1px solid var(--light-dark);

  &__elem {
    margin-right: 30px;

    &:last-child {
      margin: 0;
    }
  }

  &__headline {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    margin: 0 0 15px;
    color: var(--primary-light);
  }

  &__text {
    font-weight: 500;
    font-size: 32px;
    line-height: 108.1%;
    color: var(--light-gray);
    margin: 0;
  }
}


.card-description {
  display: flex;
  flex-direction: column;
  height: 350px;

  &__headline {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 108.1%;
    margin: 0 0 15px;
    color: var(--primary-light);
  }

  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 140%;
    margin: 0;
    height: 100%;
    color: var(--primary-light);
    overflow-y: scroll;

    &::-webkit-scrollbar-thumb {
      background: var(--blue);
    }

    &::-webkit-scrollbar-track { //пространство под индикатором
      background: var(--back-dark);
    }

    &::-webkit-scrollbar {
      width: 4px;
    }
  }
}

.card-btn {
  margin-top: auto;
  max-width: 410px;

  .btn {
    &__elem {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 48px;
    }
  }
}

@media (max-width: 1400px) {
  .card {
    display: flex;
    min-height: 760px;
    height: 760px;

    &__slider {
      height: 760px;
    }

    &__img {
      height: 100%;
      width: auto;
    }
  }

  .card-slider {
    height: 760px;

    .swiper {
      height: 100%;
    }
  }

  .card-info {
    &__head {
      display: flex;
      flex-wrap: wrap;
    }
    &__nick {
      font-size: 40px;
    }

    &__location {
      margin: 0 14px;
      display: flex;
      align-items: center;
      svg {
        width: 25.15px;
        height: 35px;
      }
    }

    &__country {
      font-size: 40px;
    }

    &__breed {
      display: flex;
      align-items: center;
    }
    &__name {
      font-size: 20px;
    }

    &__animal {
      font-size: 20px;
    }

    &__like {
      display: flex;
      margin: 20px 0 30px;

      .like {
        flex-direction: row-reverse;

        &__text {
          font-size: 20px;
        }
      }
    }

    &__price {
      display: flex;
      align-items: center;
      margin: 0 0 0 10px;
    }
    &__icon {
      margin-right: 10px;
    }
    &__coll {
      font-size: 20px;
    }
  }

  .card-params {
    &__headline {
      font-size: 22px;
    }

    &__text {
      font-size: 20px;
    }
  }

  .card-description {
    height: 320px;

    &__headline {
      font-size: 20px;
    }

    &__text {
      font-size: 20px;
      height: 260px;
    }
  }

  .card-btn {

    .btn {
      &__elem {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .card {
    flex-direction: column;
    height: auto;

    &__slider {
      height: 400px;
      max-width: 100%;
    }

    &__img {
      width: 100%;
      object-fit: cover;
    }
  }

  .card-slider {
    height: 400px;
    display: flex;
    opacity: 1;
    .swiper {
      margin: 0 auto;
      max-width: 100%;

      .card-navigation {
        display: none;
      }
    }

    &__slide {
      width: 100%;
    }

    &__back {
      top: 25px;
      left: 25px;
      position: absolute;
      display: block;
      z-index: 2;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .card-info {
    margin: 30px 0 0;
  }

  .card-description {
    height: 185px;
    &__text {
      height: 140px;
    }
  }

  .card-btn {
    max-width: 100%;
  }
}


@media (max-width: 800px) {

  .card-info {
    &__name {
      font-size: 18px;
    }

    &__animal {
      font-size: 18px;
    }

    &__like {
      .like {
        &__text {
          font-size: 18px;
        }
      }
    }

    &__price {
      display: none;
    }
  }



  .card-params {
    &__headline {
      font-size: 20px;
    }
  }

}


@media (max-width: 500px) {
  .card-slider {
    &__back {
      top: 20px;
      left: 20px;
    }
  }

  .card-info {
    margin: 30px 25px 0;

    &__head {
      display: flex;
      flex-wrap: wrap;
    }

    &__name {
      font-size: 34px;
    }

    &__location {
      margin: 0 5px;
      display: flex;
      align-items: center;
      svg {
        width: 30px;
        height: 30px;
      }
    }

    &__country {
      font-size: 34px;
    }

    &__name {
      font-size: 14px;
    }

    &__point {
      margin: 0 7px;
      width: 3px;
      height: 3px;
    }

    &__animal {
      font-size: 14px;
    }

    &__like {

      .like {
        &__text {
          font-size: 14px;
        }

        &__img {
          svg {
            width: 14px;
            height: 13px;
          }
        }
      }
    }
  }

  .card-params {
    margin: 0 0 30px;
    &__headline {
      font-size: 12px;
    }

    &__text {
      font-size: 12px;
    }
  }

  .card-description {
    &__headline {
      font-size: 12px;
    }

    &__text {
      font-size: 16px;
    }
  }

  .card-btn {
    .btn {
      height: 40px;

      &__elem {
        font-size: 14px;
        line-height: 40px;
      }
    }
  }
}