.toggle-theme {
  box-sizing: border-box;
  width: 110px;
  display: flex;
  align-items: center;
  background: var(--back-dark);
  padding: 6.7px 5px;
  border-radius: 20px;

  &__elem {
    cursor: pointer;
    width: 21px;
    height: 21px;
    padding: 0 10px;

    &:hover {
      opacity: 0.8;
    }

    &_active {
      background: var(--blue);
      border-radius: 16.2963px;
      width: 53.33px;
      height: 32.59px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

@media (max-width: 500px) {
  .toggle-theme {
    padding: 5px;
    width: 77px;
    &__elem {
      width: 21px;
      height: 21px;
      padding: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 13px;
        height: 13px;
      }

      &_active {
        width: 37px;
        height: 22.02px;
      }
    }
  }
}