.like {
  display: flex;
  align-items: center;
  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--white);
    margin: 0 10px 0 0;
  }

  &__img {
    display: flex;
    align-items: center;
  }

  &_active {
    .like__img {
      svg {
        fill: var(--danger);
      }
    }
  }
  
  &:hover {
    cursor: pointer;
  }
}