.progress {
  display: flex;
  padding: 30px;
  border-radius: 16px;
  box-sizing: border-box;
  background: var(--back-dark);
  max-width: 560px;
}

.progress-ellipse {
  width: 254px;
  height: 254px;
  position: relative;

  &__percent {
    position: absolute;
    width: 100%;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: var(--white);
  }
}

.progress-head {
  margin-left: 30px;

  &__headline {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--white);
    margin: 0 0 20px;
  }
}

.progress-head-elem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &__img {

  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--white);
    margin: 0 0 0 10px;
  }
}

@media (max-width: 1300px) {
  .progress-ellipse {
    width: 230px;
    height: 230px;

    &__percent {
      font-size: 24px;
      line-height: 28px;
    }

    svg {
      width: 230px;
      height: 230px;
    }
  }
}

@media (max-width: 800px) {
  .progress {
    max-width: 100%;
  }

  .progress-ellipse {
    width: 305px;
    height: 305px;

    &__percent {
      font-size: 40px;
      line-height: 47px;
    }

    svg {
      width: 305px;
      height: 305px;
    }
  }

  .progress-head {
    &__headline {
      font-size: 24px;
    }
  }

  .progress-head-elem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &__text {
      font-size: 24px;
      line-height: 28px;
    }
  }
}

@media (max-width: 650px) {
  .progress {
    padding: 15px;
  }

  .progress-ellipse {
    width: 105px;
    height: 105px;
    margin: auto 0;

    &__percent {
      font-size: 14px;
      line-height: 17px;
    }

    svg {
      width: 105px;
      height: 105px;
    }
  }

  .progress-head {
    &__headline {
      font-size: 12px;
      line-height: 14px;
    }
  }

  .progress-head-elem {
    margin-bottom: 8px;
    align-items: center;

    &__text {
      font-size: 12px;
      line-height: 14px;
    }
  }
}