.menu-pets {
  //display: grid;
  //grid-template-columns: 1fr 1fr 1fr;
  //grid-template-rows: 73px 73px;
  //max-width: 260px;
  //grid-row-gap: 20px;

  .swiper {
    height: 200px;

    .swiper-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 73px 73px;
      //grid-column-gap: 15px;
      grid-row-gap: 20px;
      height: 200px;
    }
  }
}

@media (max-width: 1300px) {
  .menu-pets {
  //  grid-template-columns: 95px;
  //  grid-template-rows: 91px 91px 91px 91px 91px 91px;
    .swiper {
      height: 100%;

      .swiper-wrapper {
        grid-template-columns: 95px;
        grid-template-rows: 91px 91px 91px 91px 91px 91px;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        height: 100%;
      }
    }
  }


}

@media (max-width: 800px) {
  .menu-pets {
    max-width: 100%;
    //display: flex;
    //justify-content: space-between;

    .swiper {
      height: 100%;
      max-width: 645px; //315px
      width: 100%;
      //overflow: hidden;

      .swiper-wrapper {
        display: flex;
        //grid-template-columns: 95px 95px 95px 95px 95px 95px;
        //grid-template-rows: 91px;
        grid-column-gap: 0;//grid-column-gap: 15px;
        //grid-row-gap: 15px;
        height: auto;

        .swiper-slide {
          width: 95px;
        }
      }
    }
  }
}

@media (max-width: 730px) {
  .menu-pets {
    max-width: 100%;
    //display: flex;
    //justify-content: space-between;

    .swiper {
      height: 100%;
      max-width: 316px;
      width: 100%;
    }
  }
}