.sidebar {
  position: sticky;
  top: 0;
  z-index: 10;

  background: var(--grey-2);
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  height: 100vh;
  box-sizing: border-box;
  border-right: 1px solid var(--light-dark);

  &__href {
    margin: 0 0 80px;

    svg {
      path {
        fill: var(--primary-light);

        &.svg-item {
          fill: var(--reverse-primary);
        }
      }
    }

  }

  &__logout {
    margin-top: auto;

    svg {
      path {
        fill: var(--primary-light);
      }
    }
  }
}

@media (max-width: 500px) {
  .sidebar {
    display: none;
  }
}