.comment {

}

.comment-head {
  display: flex;

  &__img {

  }

  &__time {
    color: var(--gray);
  }
}

.comment-head-texts {
  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
    margin: 0 0 0;
  }

  &__quote {
    color: var(--gray);
    margin: 0 0 0;
  }
}

.comment-text {
  color: var(--white);
}
