.auth {
  display: flex;
  flex-direction: column;
  max-width: 325px;
  height: 575px;

  &__img {
    height: 90.87px;
    svg {
      width: 102.4px;
      height: 90.87px;
    }
  }

  &__headline {
    margin: 32px 0 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: var(--primary-light);
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--light-gray);
    //letter-spacing: 0.04em;
  }

  &__input {
    margin: 0 0 36px;

    &:last-child {
      border: 1px solid red;
      margin: 0;
    }
  }

  &__reestablish {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: var(--light-gray);
    display: inline-block;
    margin: -12px 0 30px auto;
    //10px 0 30px auto   24px 0 30px auto
  }

  &__btn {
    width: 100%;
    margin-top: auto;

    .btn {
      &__elem {
        font-weight: 600;
      }
    }
  }

  &__description {
    text-align: center;
    margin: 20px 0 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--primary-light);
  }

  &__href {
    text-decoration: none;
    font-weight: 700;
    color: var(--primary-light);
    font-size: 18px;
    display: inline-block;
    margin: 0 auto;

    &:hover {
      opacity: 0.8;
    }
  }
}