.auth {
  display: flex;
  flex-direction: column;
  max-width: 325px;
  height: 575px;

  &__img {
    height: 90.87px;
    svg {
      width: 102.4px;
      height: 90.87px;
    }
  }

  &__headline {
    margin: 32px 0 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: var(--primary-light);
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--light-gray);
  }

  &__description {
    text-align: center;
    margin: 20px 0 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--primary-light);
  }

  &__href {
    text-decoration: none;
    font-weight: 700;
    color: var(--primary-light);
    font-size: 18px;
    display: inline-block;
    margin: 0 auto;

    &:hover {
      opacity: 0.8;
    }
  }
}